.hover.ini{
    width: 100%;
    opacity: 1;
    transition: 0.5s all;
}

.hover{
    width: 0%;
    opacity: 0;
    transition: 0.5s all;
    height: 100%;
}
#drp{
    margin-top: 20px;
    color: white;
    
}

.nav-item{
    cursor: pointer;
    height: 100%;
}

.NavLinks , .NavLinks:hover , .NavLinks:visited , .NavLinks:active{
    text-decoration: none;
    color: inherit;
}