.ProfileCont{
  width: 300px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 25px;
  border-radius: 25px;
  flex-direction: column;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 25px;
}

.ProfilePic{
  width:120px;
  height: 120px;
  border-radius: 50%;
  
}

.ProfileName{
  font-size: 3.0rem;
  font-weight: 600;
}

.ProfileDesc{
  width: 80%;
  height: 100px;
  text-align: center;
  color: var(--mGrey);
  overflow: hidden;
}

.ProfileViewProfile{
  background-color: var(--mAccent);
  /* height: 30px; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 1.6rem;
}