.loader{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


.MembersHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.MembersPage{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    color: white;
}

.MembersCont{
    display: flex;

    width: 90%;
    align-self: center;
    border-radius: 15px;

    overflow: hidden;
    background-color: #222;
}

.ProdCont > h1{
    margin: 0px 25px;
}

.MemberLine{
    height: 1px;
    width: 99%;

    background-color: #333;

    align-self: center;

    margin: 10px;
}

.MemberLeft{
    display: flex;
}

.MemberSocial{
    margin-left: 10px;
    z-index: 2;
}

.MemberSocial > .MemberIcon{
    font-size: 1.5rem;
    margin-right: 10px;
    color: #ccc;
}

.MemberSocial > .MemberIcon:hover{
    color: #fff;
    cursor: pointer;
}




.MemImg{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 8px;
    margin-top: 30px;
    /* box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); */
    border: 1px solid #999;
    z-index: 2;

}

.MembersLeftCont{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: relative;
    background-color: #222;
    overflow: hidden;
}

.MemberName{
    display: flex;
    font-size : 4rem;
    z-index: 2;
}

.MemberMain{
    width: 100%;
}

.MembersRaise{
    z-index: 2;
}

.MemberInfo{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.MemberKnows{
    color: #f39c12;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 10px 0;
    
}

.MemberBaseInfo{
    padding: 0 25px;
    margin: 15px 0;
}

.MemberSkills{
    margin-top: 20px;
    padding-left: 10px;
}


.MembersRole{
    /* margin-left: 5px; */
    /* color: #f39c12; */
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
}

.MemBack{
    position: absolute;
    z-index: 0;
    left: 0;
    filter: blur(4px) grayscale(0.8);
}

.MemGoBack{
    z-index: 2;
    position: absolute;
    left:0;
    margin: 15px;
    font-size: 2rem;

    cursor: pointer;
}




/* 
.ProdInfo > div{
    width: 50%;
} */


/* .ProdHolder{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 10px;
} */

.Prod-loc{
    display: inline-block;
    margin-top: 10px;

    margin-left: 45px;
    font-size: 1.6rem;
}


.ProdHead {
    font-size: 4rem;
}


/* .ProdMain{
    padding: 10px;
} */



@media(max-width:900px){
    
    .MembersCont{
        width: 95%;
        flex-direction: column;
    }

    .ProdInfo{
        flex-direction: column;
    }

    
    .ProdInfo > div{
        width: 100%;
    }

    .MemberLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .MemberInfo{
        width: 95%;
    }

    .MemberName{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .MemberSocial{
        display: flex;
        justify-content: center;
    }

    .MemberSocial > .MemberIcon{
        font-size: 2rem;
        margin-top: 5px;
    }

    .MembersLeftCont{
        width: 100%;
        padding-bottom: 50px;
    }

    .MembersHolder{
        margin-top: 50px;
    }
}

