.Welcome{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.mainImage{
    width: 50%;
}

@media (max-width:768px) {
    .mainImage{
        width: 90%;
    }
}