.teams-page{

}

.profile-page{

    background-color: var(--mWhite);
    color: var(--mBlack);
    width: 100%;

    padding: 20px;
    display: flex;
    justify-content: center;

}


.h-profile{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-row{
    display: flex;
}


.team-header{
    margin-top: 50px;
    background-color: var(--mWhite);
    color: var(--mBlack);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;

    padding: 50px 0;
    transition: all 0.2s;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }


@media(max-width : 900px){
  .team-header{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 7.5rem;
  }
}

@media(max-width : 768px){
  .team-header{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 5rem;
  }
}