.sec{
    display: flex;
    margin: 100px 0;
}

.sec > div{
    width: 50%;
    margin-left: 15px;
}



.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainImage{
    max-width: 100%;
}

.image{
    width: 100%;
}
