.Header{
    display: flex;
}

.Title{
    margin-left: 45px;
}

.Navigation{
    margin-left: auto;
    margin-right: 75px;
}

.Navigation > ul{
    display: flex;
    list-style: none;
    margin-left: auto;

}

.Navigation > ul > li{
    margin-left: 25px;
}