
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


.App{
    background-color: black;
    display: flex;
    color: white !important;
    
    justify-content: center;
}

h3{
    color: white;
}

h1{
    font-family: 'Karla', sans-serif !important;
}


.line{
    width: 80%;
    align-self: center;
    height: 1px;
    margin: 5px 0;
    background-color: #555;
}

body{
    background-color: black !important;
    
}

p{
    font-size: 16px;
    line-height: 30px !important;
    letter-spacing: 0.5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    transition: all 0.2s;
}