
/* @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');


:root{
    --mWhite : #fff;
    --mBlack : #000;
    --mGrey : #888;
    --mAccent: #2196f3;
    --mShadow : rgba(0 ,0,0,0.1);
}

body{
    font-family: 'Nunito', sans-serif !important;
}

.App{
    background-color: var(--mWhite);
    display: flex;
    color: white !important;
    
    justify-content: center;
}

h3{
    color: white;
}

h1{
    /* font-family: 'Karla', sans-serif !important; */
}


.line{
    width: 80%;
    align-self: center;
    height: 1px;
    margin: 5px 0;
    background-color: #555;
}

body{
    background-color: var(--mWhite) !important;
    
}

p{
    font-size: 16px;
    line-height: 30px !important;
    letter-spacing: 0.5px;
    /* font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}
